{% include 'header.jinja2' %}
<div class="jumbotron">
  <h2>Error: {{ short_error }}</h2>
  <p>{{ long_error }}</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="{{ go_back_url }}">Go Back</a></p>
</div>

{% include 'footer.jinja2' %}
