{% include 'header.jinja2' %}
<h2><a href="/upload">Upload a .sav file</a></h2>

<h2>.sav Files</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Added</th>
  </tr>
{% for f in sav_files %}
  <tr>
    <td><a href="/savs/{{ f.uuid }}">{{ f.name }}</a></td>
    <td>{{ f.date_uploaded.strftime('%Y-%m-%d %H:%M %p UTC') }}</td>
  </tr>
{% endfor %}
</table>
{% include 'footer.jinja2' %}
