{% include 'header.jinja2' %}
      <form method="post" id="file-select" action="/file_select" enctype="multipart/form-data">
        <div class="form-group">
          <label>.sav File Name</label>
          <input type="text" name="name" class="form-control" placeholder="My LSDJ .sav"></input>
          <br />
          <label>File Location</label>
          <input type="file" name="inputFile"/>
          <br />
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-upload">
</span> Upload</button>
        </div>
      </form>
{% include 'footer.jinja2' %}
